@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .shadow-custom {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Just an example, replace with your own values */
    }
    .focus\:shadow-outline:focus {
        box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5); 
    }
    .shadow-outline {
        box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5); 
    }
}

.canvaContainer{
    @apply border border-black text-center
}
.innerItemContainer{
    @apply h-32 border border-black relative flex items-center;
    border-width: 1px 0 0;
}
.innerContainer{
    @apply h-25 border border-black relative flex flex-col items-center w-12
}
.innerItem{
    @apply p-2 border border-blue-500 cursor-grab m-1
}
.draggableItemContainer{
   @apply w-8 h-8 my-5 cursor-pointer hover:text-ceruleanBlue
}
.leftNavContainer {
    @apply flex flex-col h-full w-32 p-5 bg-deepSpace text-platinum text-center border border-gunmetal;
}
.rightNavContainer{
    @apply w-64 bg-deepSpace text-platinum p-3
}
.topNavContainer{
    @apply bg-deepSpace text-platinum border border-b-2 border-gunmetal shadow-custom
}
.topNavInnerContainer{
   @apply container mx-auto px-4 py-2 flex justify-between items-center
}
.topNavItem{
   @apply mr-4 cursor-pointer hover:text-ceruleanBlue
}
.canvasArea{
    @apply flex-grow relative z-10 bg-white bg-[linear-gradient(to_right,#80808012_1px,transparent_1px),linear-gradient(to_bottom,#80808012_1px,transparent_1px)] bg-[size:24px_24px]
}
.clipBoardArea{
    @apply bg-eclipse flex flex-col justify-between text-platinum items-end h-1/2
}
.textArea{
   @apply resize-none w-full bg-eclipse h-full text-platinum p-3 
}
.dropDownOuterDiv {
    @apply relative inline-block text-left w-full my-3;
}
.dropDownLabelStyle {
    @apply block text-platinum font-medium mb-1;
}
.dropdownButtonStyle {
    @apply inline-flex w-full justify-center gap-x-1.5 rounded-md bg-deepSpace px-3 py-2 text-sm font-semibold text-platinum shadow-sm ring-1 ring-inset;
}
.dropdownOptions {
    @apply absolute right-0 z-10 mt-2 mb-2 w-56 h-60 overflow-auto origin-top-right rounded-md bg-deepSpace shadow-lg ring-1  ring-opacity-5 focus:outline-none;
}
.dropdownOptionsItems{
    @apply block px-4 py-2 text-sm hover:text-platinum cursor-pointer hover:bg-eclipse
}
.inputBoxContainer{
    @apply relative inline-block text-left w-full my-3
}
.inputBoxLabel{
    @apply block text-platinum font-medium mb-1
}
.inputBoxStyle{
    @apply shadow bg-deepSpace appearance-none border rounded w-full py-2 px-3 text-platinum leading-tight border-CodeBlue focus:outline-none focus:shadow-outline focus:border-CodeBlue
}
.leftNavContainer > .cursor-grab, .canvaContainer {
    border-radius: 4px;
}
